@page
@model IndexModel
<h1>Unit Converter</h1>

<p>Slect category:</p>
<ul>
    <li><a href="/Weight">Weight</a></li>
    <li><a href="/Length">Length</a></li>
    <li><a href="/Temperature">Temperature</a></li>
</ul>
